//
//  Config.swift
//  Travis
//
//  Created by Jurre Stender on 22/10/14.
//  Copyright (c) 2014 jurre. All rights reserved.
//

import Foundation

let REPOS = [
	Repo(slug: "jurre/dotfiles", access: .Private),
	Repo(slug: "DefactoSoftware/Hours", access: .Public),
	Repo(slug: "supermarin/Alcatraz", access: .Public),
]

let GITHUB_TOKEN = "YOUR GITHUB TOKEN"

